<h1>Welcome, <%= @parent.name %></h1>
<p><%= @parent.student.name %>'s grades:</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <% pdf = grade.upload_pdf.to_s %>
        <td><%= link_to grade.assignment.name, "#{pdf}" %></td>
        <td><%= grade.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
