




<h1>Welcome, <%= @teacher.name %></h1>






<!-- <div >
  <%# link_to "New Assignment", new_assignment_path %>
  <%# link_to "All Assignments", assignments_path %>
  <%# link_to "New Student", new_student_path %>
  <%# link_to "View Students", students_path %>
  <%# link_to "View Parents", parents_path %>
</d#v> -->
