<h1>Editing Assignment</h1>

<%= render 'form' %>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Show', @assignment %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', assignments_path %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Home', root_path %></button>
</div>
