<h1>Editing Student</h1>

<%= render 'form' %>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Show', @student %></button>
  <button type="button" class="btn btn-default"><%= link_to 'View All Students', students_path %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Home', root_path %></button>
</div>
