
<html>
  <body>
    <h1>Welcome <%= @parent.name %>!</h1>
    <ul><%= @student.name %> current grades:
      <% @grades.each do |g| %>
      <li>Grade: <%= g.score %></li>
      <% end %>
    </ul>
  </body>
</html>
