<h1>Editing Parent</h1>

<%= render 'form' %>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Show', @parent %></button>
  <button type="button" class="btn btn-default"><%= link_to 'View All Parents', parents_path %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Home', root_path %></button>
</div>
